html
{
	height: 100%;
	font-size: 14pt;
}
@media (max-width: 600px) {
	html
	{
		font-size: 11pt;
	}
}

*
{
	margin: 0;
	padding: 0;
}

body
{
	font: normal 100% 'times new roman', 'times', serif;
	background: #F0EFE2;
	color: #666;
}

img
{
	border: 0;
}

.site_content
{
	text-align: justify;
	min-width: 600px;
	width: calc(70% - 40px);	
	margin: 0 auto 0 auto;
	padding: 20px 20px 20px 20px;
	background: #FFF repeat-y;
}
@media (max-width: 600px) {
	.site_content
	{
		margin: 0 0 0 0;
		width: calc(100% - 40px);
		min-width: 0;
		padding: 20px 20px 20px 20px;
	}
}

.dark-mode
{
	color: #CEC9C5;
}
body.dark-mode {
	background: #28281E;
}
.dark-mode .site_content
{
	background: #121212;
}

.header
{
	background: #F79F00;
	height: 230px;
}
@media (max-width: 600px) {
	.header
	{
		height: 190px;
		min-width: 0;
		width: 100%;
	}
}

.menubar
{
	margin-left: auto;
	margin-right: auto;
	min-width: 600px;
	width: calc(70% - 40px);
	height: 62px;
	padding: 0 20px 0 20px;
	background: #5B2660 url(menu.png) repeat-x;
}
@media (max-width: 600px) {
	.menubar
	{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		min-width: 0;
		height: 54px;
		padding: 0 0 0 0;
	}
}

.logo
{
	margin-left: auto;
	margin-right: auto;
	min-width: 600px;
	width: calc(70% - 40px);
	position: relative;
	height: 168px;
	background: #8B0073 url(logo.png) 100%;
	padding: 0 20px 0 20px;
}
@media (max-width: 600px) {
	.logo
	{
		margin-left: 0;
		margin-right: 0;
		height: 138px;
		width: calc(100% - 40px);
		min-width: 0;
	}
}

.logo_text 
{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
}

.logo h1, .logo h2
{
	font: normal 300% 'times new roman', 'times', serif;
	border-bottom: 0;
	text-transform: none;
	margin: 0;
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover 
{
	padding: 22px 0 0 0;
	color: #FFF;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.logo_text h1 a .logo_colour
{
	color: #F05A00;
}

.logo_text h2
{
	font-size: 100%;
	padding: 4px 0 0 0;
	color: #FFF;
}

.footer
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font: normal 100% 'times new roman', 'times', serif;
	height: 33px;
	padding: 24px 0 5px 0;
	text-align: center; 
	background: #29425E url(footer.png) repeat-x;
	color: #FFF;
	letter-spacing: 0.1em;
}

.footer a
{
	color: #FFF;
	text-decoration: none;
}

.footer a:hover
{
	color: #FFF;
	text-decoration: underline;
}

h2 ~ ul.unmarked
{
	padding-top: 0.25em;
}

p
{
	padding: 0 0 10px 0;
	line-height: 1.5;
}

sup
{
	vertical-align: super;
	font-size: smaller;
}

h1
{
	font: normal 175% 'times new roman', 'times', serif;
	color: #43423F;
	margin: 0 0 10px 0;
	padding: 10px 0 5px 0;
}

h2
{
	font: normal 150% 'times new roman', 'times', serif;
	color: #1293EE;
	margin: 0 0 5px 0;
	padding: 10px 0 5px 0;
}

h3
{
	margin: 0;
	font: italic 105% 'times new roman', 'times', serif;
	padding: 10px 0 5px 0;
}

figcaption {
	text-indent: 0;
}

video {
	width: 100%;
}

figure {
	float: left;
	width: calc(50% - 10px);
	text-indent: 0;
	padding: 5px;
}
@media (max-width: 600px) {
	figure
	{
		width: calc(100% - 10px);
	}
}

.row {
	margin-left: -5px;
	margin-right: -5px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

a, a:hover
{
	outline: none;
	text-decoration: underline;
	color: #F05A00;
}

a:hover
{
	text-decoration: none;
}

.left
{
	float: left;
	width: auto;
	margin-right: 10px;
}

.right
{
	float: right;
	width: auto;
	margin-left: 10px;
}

.center
{
	display: block;
	text-align: center;
	margin: 20px auto;
}

.float
{
	float: right;
	width: 35%;
	margin: 0;
	text-align: center;
}
@media (max-width: 600px) {
	.float
	{
		width: 40%;
	}
}

.container
{
	overflow: hidden;
}

blockquote
{
	margin: 20px 0; 
	padding: 10px 20px 0 20px;
	border: 1px solid #E5E5DB;
	background: #FFF;
}

ul
{
	margin: 0 20px 12px 20px;
	text-align: justify;
	list-style-type: disc;
	list-style-position: inside
}
@media (max-width: 600px) {
	ul
	{
		margin-left: 7.5px;
	}
}

ul li
{
	margin: -2.8px 0 5px 10px;
	text-align: justify;
	padding: 0 0 4px 5px;
	list-style-type: disc;
	line-height: 1.25em;
	list-style-position: inside
}
@media (max-width: 600px) {
	ul li
	{
		padding-left: 2.5px;
	}
}

ul.unmarked
{
	list-style-type: none;
	margin-bottom: 0px;
}

ul.tight
{
	margin-bottom: 12px;
}

ul.unmarked li
{
	margin-top: 0;
	list-style-type: none;
	line-height: 1.0em;
	margin-left: 25px;
	text-indent: -15px;
}
@media (max-width: 600px) {
	ul.unmarked li
	{
		margin-left: 20px;
		text-indent: -10px;
		text-align: left;
	}
}

ul.unmarked li > ul
{
	margin-left: 5px;
}
@media (max-width: 600px) {
	ul.unmarked li > ul
	{
		margin-left: -12px;
	}
}

ul.tight li
{
	margin-bottom: 0;
}

strong + ul.unmarked
{
	margin-top: 12px;
	padding-top: 4px;
}

strong + p
{
	text-indent: 0;
}

ul.inline {
	list-style: none;
	overflow: hidden;
	padding: 0 0 4px 5px;
}
@media (max-width: 600px) {
	ul.inline
	{
		padding-left: 2.5px;
	}
}

ul.inline > li {
	display: block;
	float: left;
	list-style: none;
	margin-top: 0;
	padding: 0 20px 0 0;
}

@media (min-width: 600px) {
	ul.twocol
	{
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}
}

ol
{
	margin: 0 20px 12px 20px;
	text-align: justify
}

ol li
{
	margin: 0 0 5px 10px;
	text-align: justify;
	padding: 0 0 4px 5px;
	line-height: 1.0em
}

ul.menu, ul.menu li
{
	float: left;
	margin: 0 -20px 0 -20px; 
	padding: 0;
}
@media (max-width: 600px) {
	ul.menu
	{
		display: none;
	}
}

ul.menu li
{
	float: left;
	margin: 0; 
	padding: 0;
	list-style: none;
}

ul.menu li a
{
	letter-spacing: 0.0em;
	font: normal 100% 'times new roman', 'times', serif;
	display: block;
	float: left;
	padding: 20px 20px 20px 20px;
	text-align: justify;
	color: #FFF;
	text-decoration: none;
	background: transparent;
} 

ul.menu li a:hover, ul.menu li.selected a, ul.menu li.selected a:hover
{
	color: #FFF;
	background: #3F1B41 url(menu_select.png) repeat-x;
}

table
{
	margin: 10px 0 30px 0;
}
.dark-mode table
{
	border-bottom: 1px solid #FFFFFF;
}

table tr th
{
	background: #3B3B3B;
	color: #FFF;
	padding: 7px 4px;
	text-align: justify;
	vertical-align: top;
}

table tr td
{
	background: #F0EFE2;
	color: #47433F;
	border-top: 1px solid #FFF;
	padding: 7px 4px;
	text-align: justify;
	vertical-align: top;
}
.dark-mode table tr td
{
	background: #28281E;
	color: #CEC9C5;
	border-top: 1px solid #CEC9C5;
}

.mobilemenu {
	display: none;
	overflow: hidden;
	background-color: #F79F00;
	position: relative;
}
@media (max-width: 600px) {
	.mobilemenu
	{
		display: block;
	}
}
.mobilemenu #links {
	display: none;
}
.mobilemenu a {
	color: white;
	padding: 18px 18px 18px 18px;
	text-decoration: none;
	font-size: 11pt;
	display: block;
}
.mobilemenu a.icon {
	background: #F79F00;
	color: white;
	display: block;
	position: relative;
	right: 0;
	top: 0;
}
.mobilemenu a:hover {
	background-color: #F05A00;
	color: black;
}
.active {
	background-color: #F05A00;
	color: white;
}
