html
{
	height: 100%;
}

*
{
	margin: 0;
	padding: 0;
}

body
{
	font: normal 1.0em 'times new roman', 'times', serif;
	background: #F0EFE2;
	color: #777;
}

p
{
	padding: 0 0 10px 0;
	line-height: 1.5em;
}

img
{
	border: 0;
}

.site_content
{
	width: 837px;
	overflow: hidden;
	margin: 0 auto 0 auto;
	padding: 20px 20px 20px 20px;
	background: #FFF repeat-y;
}

.content
{
	text-align: justify;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 
{
	font: normal 175% 'times new roman', 'times', serif;
	color: #43423F;
	margin: 0 0 10px 0;
	padding: 20px 0 5px 0;
}

sup
{
	vertical-align: super;
	font-size: smaller;
}

h2
{
	font: normal 175% 'times new roman', 'times', serif;
	color: #1293EE;
}

h4, h5, h6
{
	margin: 0;
	padding: 10px 0 5px 0;
	font: normal 120% 'times new roman', 'times', serif;
	color: #1293EE;
}

h5, h6
{
	font: italic 95% 'times new roman', 'times', serif;
	padding: 10px 0 5px 0;
	color: #000;
}

h6
{
	color: #362C20;
}

a, a:hover
{
	outline: none;
	text-decoration: underline;
	color: #F05A00;
}

a:hover
{
	text-decoration: none;
}

.left
{
	float: left;
	width: auto;
	margin-right: 10px;
}

.right
{
	float: right;
	width: auto;
	margin-left: 10px;
}

.center
{
	display: block;
	text-align: center;
	margin: 20px auto;
}

.float
{
	float: right;
	width: 30%;
	margin: 0;
	text-align: center;
}

.container
{
	overflow: hidden;
}

blockquote
{
	margin: 20px 0; 
	padding: 10px 20px 0 20px;
	border: 1px solid #E5E5DB;
	background: #FFF;
}

ul
{
	margin: 0 20px 12px 20px;
	text-align: justify;
	list-style-type: disc;
	list-style-position: inside
}

ul li
{
	margin: 0 0 5px 10px;
	text-align: justify;
	padding: 0 0 4px 5px;
	list-style-type: disc;
	line-height: 1.0em;
	list-style-position: inside
}

ul.unmarked, ul.tight
{
	list-style-type: none
}

strong + ul.unmarked, strong + ul.tight
{
	margin-top: 12px;
	padding-top: 4px
}

ul.unmarked li
{
	list-style-type: none
}

ul.tight li
{
	margin-bottom: 0;
	list-style-type: none
}

ol
{
	margin: 0 20px 12px 20px;
	text-align: justify
}

ol li
{
	margin: 0 0 5px 10px;
	text-align: justify;
	padding: 0 0 4px 5px;
	line-height: 1.0em
}

.inline-list {
	list-style: none;
	margin: 0 20px 12px 20px;
	overflow: hidden;
	padding: 0 0 4px 5px;
}

.inline-list > li {
	display: block;
	float: left;
	list-style: none;
	padding: 0 20px 0 0;
}

.main, .logo, .menubar, .site_content, .footer
{
	font-size: 14pt;
	margin-left: auto;
	margin-right: auto;
}

.header
{
	background: #F79F00;
	height: 230px;
}

.logo
{
	width: 825px;
	position: relative;
	height: 168px;
	background: #8B0073 url(logo.png) no-repeat;
}

.logo .logo_text 
{
	position: absolute; 
	top: 20px;
	left: 0;
}

.logo h1, .logo h2
{
	font: normal 300% 'times new roman', 'times', serif;
	border-bottom: 0;
	text-transform: none;
	margin: 0;
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover 
{
	padding: 22px 0 0 0;
	color: #FFF;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.logo_text h1 a .logo_colour
{
	color: #F05A00;
}

.logo_text h2
{
	font-size: 100%;
	padding: 4px 0 0 0;
	color: #FFF;
}

.menubar
{
	width: 877px;
	height: 62px;
	padding: 0;
	background: #5B2660 url(menu.png) repeat-x;
} 

ul.menu, ul.menu li
{
	float: left;
	margin: 0; 
	padding: 0;
}

ul.menu li
{
	list-style: none;
}

ul.menu li a
{
	letter-spacing: 0.0em;
	font: normal 100% 'times new roman', 'times', serif;
	display: block;
	float: left;
	padding: 20px 26px 20px 26px;
	text-align: justify;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	background: transparent;
} 

ul.menu li a:hover, ul.menu li.selected a, ul.menu li.selected a:hover
{
	color: #FFF;
	background: #3F1B41 url(menu_select.png) repeat-x;
}

.footer
{
	width: 877px;
	font: normal 100% 'times new roman', 'times', serif;
	height: 33px;
	padding: 24px 0 5px 0;
	text-align: center; 
	background: #29425E url(footer.png) repeat-x;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.footer a
{
	color: #FFF;
	text-decoration: none;
}

.footer a:hover
{
	color: #FFF;
	text-decoration: underline;
}

.search
{
	color: #5D5D5D; 
	border: 1px solid #BBB; 
	width: 134px; 
	padding: 4px; 
	font: 100% 'times new roman', 'times', serif;
}

#colours
{
	height: 0px;
	text-align: justify;
	padding: 66px 16px 0px 300px;
}
	
.form_settings
{
	margin: 15px 0 0 0;
}

.form_settings p
{
	padding: 0 0 4px 0;
}

.form_settings span
{
	float: left; 
	width: 200px; 
	text-align: justify;
}
	
.form_settings input, .form_settings textarea
{
	padding: 5px; 
	width: 299px; 
	font: 100% 'times new roman'; 
	border: 1px solid #E5E5DB; 
	background: #FFF; 
	color: #47433F;
}
	
.form_settings .submit
{
	font: 100% 'times new roman'; 
	border: 1px solid; 
	width: 99px; 
	margin: 0 0 0 212px; 
	height: 33px;
	padding: 2px 0 3px 0;
	cursor: pointer; 
	background: #F05A00; 
	color: #FFF;
}

.form_settings textarea, .form_settings select
{
	font: 100% 'times new roman'; 
	width: 299px;
}

.form_settings select
{
	width: 310px;
}

.form_settings .checkbox
{
	margin: 4px 0; 
	padding: 0; 
	width: 14px;
	border: 0;
	background: none;
}

.separator
{
	width: 100%;
	height: 0;
	border-top: 1px solid #D9D5CF;
	border-bottom: 1px solid #FFF;
	margin: 0 0 20px 0;
}

table
{
	margin: 10px 0 30px 0;
}

table tr th
{
	background: #3B3B3B;
	color: #FFF;
	padding: 7px 4px;
	text-align: justify;
	vertical-align: top;
}

table tr td
{
	background: #F0EFE2;
	color: #47433F;
	border-top: 1px solid #FFF;
	padding: 7px 4px;
	text-align: justify;
	vertical-align: top;
}
